*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    padding: 20px;
  }
:root{
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 35px;
    

}
