*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    padding: 20px;
  }
:root{
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
}
.container{
    margin: auto;
    padding: auto;
    background-color: #afafaf;
    max-width: 500px;
    border-radius: 12px;

}